ion-tab-bar {
    --background: var(--ion-color-medium);
}

ion-tab-button {
    --color-selected: #fff;
}

.player {
    height: 55px;
    background: var(--ion-color-medium);
    img {
        height: 55px;
    }
    font-family: 'Spotify';
    color: #fff;
    font-size: small;

    .progress-bar {
        height: 2px;
        width: 100%;
        background: #707070;
    
        .progress {
            background: #fff;
            height: 100%;
        }
    }    
}

