ion-content {
    --padding-top: 40px;
}

.section-header {
    color: #fff;
    font-family: 'Spotify';
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 30px;
}

.title {
    color: #fff;
    font-family: 'Spotify';
    font-size: small;
}

ion-slide {
    display: block;
    text-align: left;
}

ion-slides {
    margin-bottom: 20px;
}